<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Grayscale - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/grayscale.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">delice de paris</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Notre restaurant</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">Pizza au feu de bois</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading">Delice de Paris</h1>
              <p class="intro-text">Cuisine franco-italienne
                <br>16, rue Xavier Privas 75005 Paris</p>
              <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Notre restaurant Section -->
    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Venez decouvrir notre restaurant</h2>
            <p>Situé en plein coeur du quartier latin, Delice de Paris a ouvert ses portes en 2014 et vous propose de decouvrir le meilleur de la cuisine française et italienne.</p>
            <p>Que vous souhaitiez gouté une spécialité française comme le boeuf bourguignon ou le coq au vin, ou bien que vous souhaitiez degusté un plat typique italien comme l'osso buco ou l'escalope parmigiana, vous trouverez dans notre carte ce qu'il faut pour vous satisfaire</p>
            <p>Toutes nos pizzas sont cuites au feu de bois grâce à son four en pierre que nous avons conçu spécialement pour vous proposer les meilleurs plats du quartier latin</p>
        <!--    <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with SASS and LESS files for easy customization!</p> -->
          </div>
        </div>
      </div>
    </section>

    <!-- pizza au feu de bois Section -->
    <section id="download" class="download-section content-section text-center">
     <div class="container">
        <div class="col-lg-8 mx-auto">
          <h2>Nos pizzas au feu de bois</h2>
              <ul class="text-left">
                <li><span style="font-weight: bold">Marguerite:</span> sauce tomate parfumée aux herbes, mozzarella et basilic frais</li>
                <li><span style="font-weight: bold">Regina:</span> jambon, champignons sur une base de sauce tomate et mozzarella</li>
                <li><span style="font-weight: bold">Neptune:</span> thon à l'huile, oeuf frais, câpres, olives, poivrons marinés à l'huile d'olive, sauce tomate</li>
                <li><span style="font-weight: bold">Massimo:</span> sauce tomate parfumée aux herbes, mozzarella, viande hachée, oeuf frais, ail et fines herbes</li>
                <li><span style="font-weight: bold">Végétarienne:</span> sauce tomate parfumée aux herbes, mozzarella, aubergines, artichaut, poivrons, champignons, olives</li>
                <li><span style="font-weight: bold">Calzone:</span> sauce tomate parfumée aux herbes, jambon, oeuf, origan</li>
                <li><span style="font-weight: bold">Saumon fumé:</span> saumon fumé, crème fraîche, ciboulette</li>
                <li><span style="font-weight: bold">Soufflée:</span> jambon, mozarella, parmesan rapé, oeuf frais, en chausson</li>
                <li><span style="font-weight: bold">Andrellini:</span> fromage de chèvre, jambon, poivrons marinés à l'huile d'olive sur une base de sauce tomate, mozzarella, ail frais et oignon doux</li>
                <li><span style="font-weight: bold">Jambon de Parme:</span> sauce tomate, mozzarella, oeuf frais, jambon de Parme</li>
                <li><span style="font-weight: bold">Chef:</span> sauce tomate parfumée aux herbes, mozzarella, merguez, oeuf frais</li>
                <li><span style="font-weight: bold">Campione:</span> viande hachée lentement mijotée, mozarella, champignon, sauce tomate</li>
                <li><span style="font-weight: bold">Palerme:</span> Chorizo, olives, oeuf frais, poivrons marinés à l'huile d'olive sur une base de sauce tomate et mozzarella</li>
                <li><span style="font-weight: bold">Al Pollo:</span> sauce tomate, poulet, poivron, oignon ail, champignons</li>
                <li><span style="font-weight: bold">Délice:</span> sauce tomate, gambas, lardons, champignons</li>
                <li><span style="font-weight: bold">Paysanne:</span> lardons, oeuf frais sur une base de sauce tomate et mozzarella</li>
                <li><span style="font-weight: bold">Napolitaine:</span> anchois et câpres sur une base de sauce tomate et mozzarella</li>
                <li><span style="font-weight: bold">Quatre Fromages:</span> sauce tomate parfumée aux herbes et 4 fromages : mozzarella, chèvre, gorgonzola, brie</li>
              </ul>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contactez-nous !</h2>
            <p>Vous souhaitez organiser un événement ? Notre restaurant dispose d'une salle á l'étage suffisament spacieuse pour vous acceuillir vous et vos convives</p>
            <p>Contactez-nous afin que nous puissions vous aider dans vos préparatifs</p>
            <p> Délice de Paris, 16, rue Xavier Privas, 75005 Paris - téléphone : 07 60 95 47 25 - email : sarlamir2012@gmail.com
          </div>
        </div>
      </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; www.delicedeparis.com 2017</p>
      </div>
    </footer>



    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB23w4JUldfJ5RBnpmkCYE2BFQaLTzTKQc" type="text/javascript"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>


    <!-- Custom scripts for this template -->
    <script src="js/grayscale.min.js"></script>

  </body>

</html>
